<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.wongs.es.dao.AtiRoleMapper">
  <resultMap id="BaseResultMap" type="xyz.wongs.es.entity.AtiRole">
    <id column="ATI_ROLE_ID" jdbcType="DECIMAL" property="atiRoleId" />
    <result column="ROLE_NAME" jdbcType="OTHER" property="roleName" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="ROLE_TYPE" jdbcType="VARCHAR" property="roleType" />
  </resultMap>
  <sql id="Base_Column_List">
    ATI_ROLE_ID, ROLE_NAME, ROLE_CODE, ROLE_TYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ATI_ROLE
    where ATI_ROLE_ID = #{atiRoleId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ATI_ROLE
    where ATI_ROLE_ID = #{atiRoleId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="xyz.wongs.es.entity.AtiRole">
    insert into ATI_ROLE (ATI_ROLE_ID, ROLE_NAME, ROLE_CODE, 
      ROLE_TYPE)
    values (#{atiRoleId,jdbcType=DECIMAL}, #{roleName,jdbcType=OTHER}, #{roleCode,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.wongs.es.entity.AtiRole">
    insert into ATI_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="atiRoleId != null">
        ATI_ROLE_ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="roleCode != null">
        ROLE_CODE,
      </if>
      <if test="roleType != null">
        ROLE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="atiRoleId != null">
        #{atiRoleId,jdbcType=DECIMAL},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=OTHER},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.es.entity.AtiRole">
    update ATI_ROLE
    <set>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=OTHER},
      </if>
      <if test="roleCode != null">
        ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        ROLE_TYPE = #{roleType,jdbcType=VARCHAR},
      </if>
    </set>
    where ATI_ROLE_ID = #{atiRoleId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.wongs.es.entity.AtiRole">
    update ATI_ROLE
    set ROLE_NAME = #{roleName,jdbcType=OTHER},
      ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      ROLE_TYPE = #{roleType,jdbcType=VARCHAR}
    where ATI_ROLE_ID = #{atiRoleId,jdbcType=DECIMAL}
  </update>
</mapper>