<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.wongs.es.dao.AtiUserMapper">
  <resultMap id="BaseResultMap" type="xyz.wongs.es.entity.AtiUser">
    <id column="ATI_USER_ID" jdbcType="DECIMAL" property="atiUserId" />
    <result column="NAME" jdbcType="OTHER" property="name" />
    <result column="IDENTITY_ID" jdbcType="VARCHAR" property="identityId" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="MAIL" jdbcType="VARCHAR" property="mail" />
    <result column="NO" jdbcType="VARCHAR" property="no" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    ATI_USER_ID, NAME, IDENTITY_ID, PHONE, MAIL, NO, PASSWORD
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ATI_USER
    where ATI_USER_ID = #{atiUserId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ATI_USER
    where ATI_USER_ID = #{atiUserId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="xyz.wongs.es.entity.AtiUser">
    insert into ATI_USER (ATI_USER_ID, NAME, IDENTITY_ID, 
      PHONE, MAIL, NO, PASSWORD
      )
    values (#{atiUserId,jdbcType=DECIMAL}, #{name,jdbcType=OTHER}, #{identityId,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.wongs.es.entity.AtiUser">
    insert into ATI_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="atiUserId != null">
        ATI_USER_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="identityId != null">
        IDENTITY_ID,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="mail != null">
        MAIL,
      </if>
      <if test="no != null">
        NO,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="atiUserId != null">
        #{atiUserId,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=OTHER},
      </if>
      <if test="identityId != null">
        #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.wongs.es.entity.AtiUser">
    update ATI_USER
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=OTHER},
      </if>
      <if test="identityId != null">
        IDENTITY_ID = #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        MAIL = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        NO = #{no,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where ATI_USER_ID = #{atiUserId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.wongs.es.entity.AtiUser">
    update ATI_USER
    set NAME = #{name,jdbcType=OTHER},
      IDENTITY_ID = #{identityId,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      MAIL = #{mail,jdbcType=VARCHAR},
      NO = #{no,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR}
    where ATI_USER_ID = #{atiUserId,jdbcType=DECIMAL}
  </update>


  <select id="getUserByName" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ATI_USER
    where NAME = #{name,jdbcType=OTHER}
  </select>

</mapper>